Ik heb gekozen voor de dataset gender recognition by voice. Gedurende dit bestand zal ik stap voor stap mijn keuzes en denkwijze noteren.
Ik heb het voorbeeld document KNN gebruikt.

In [9]:
import seaborn as sns
import sklearn as sk
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [10]:
df = pd.read_csv('voice.csv')
df = df.dropna() 
df2 = df[["label","meanfreq", "meanfun", "meandom", "dfrange", "modindx", "IQR", "kurt" ]]
df2.head()

,label,meanfreq,meanfun,meandom,dfrange,modindx,IQR,kurt
0,male,0.059781,0.084279,0.007812,0.000000,0.000000,0.075122,274.402906
1,male,0.066009,0.107937,0.009014,0.046875,0.052632,0.073252,634.613855
2,male,0.077316,0.098706,0.007990,0.007812,0.046512,0.123207,1024.927705
3,male,0.151228,0.088965,0.201497,0.554688,0.247119,0.111374,4.177296
4,male,0.135120,0.106398,0.712812,5.476562,0.208274,0.127325,4.333713

Ik heb gekozen voor deze colums omdat